.contact{
    position: relative;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    background: url(./contacts.jpg);
    background-size: cover;
}
.contact .content{
    max-width: 600px;
    text-align: center;
}
.contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color:white;
}
.contact .content p{
    font-size: 36px;
    font-weight: 500;
    color:white;
}
.contactForm.inputBox
{
    position: relative;
    width: 100px;
    margin-top: 10px;
}

