body {
    background-attachment: fixed;
    /*background-image: url("./contacts.jpg");*/
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.info {
    text-align: right;
    font-size: medium;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

a:link {
    font-weight: bolder;
}

.info a {
    padding-left: 10px;
}

.info a:hover {
    cursor: pointer;
    color: black;
}

.container {
    text-align: center;
}

#btn {
    font-size: 25px;
    text-decoration: none;
    padding-top: 4rem;
}

h5 {
    font-size: 17px;
}

.start {
    padding-top: 6%;
}

.description {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.card {
    background-color: turquoise;
    width: 250px;
    margin: .5rem;
}

.card :hover {
    opacity: .5;
}